<h3>Welocme to Post App!</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Posts</th>
      <th><%= link_to "Facebook Posts", facebook_data_path, class: 'btn btn-primary' %></th>
      <th><%= link_to "Instagram Posts", facebook_data_path, class: 'btn btn-danger' %></th>
    </tr>
  </thead>
</table>