Authors:-
<br><br><br>
<table class="table table-striped table-bordered table-hover friend_list">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Author Name</th>
            <th>Number</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <% @authors.each do |author| %>
            <tr class="size">
                <td><%= author.id %></td>
                <td><%= author.name %></td>
                <td><%= author.number %></td>
                <td><%= author.email %></td>
            </tr>
        <% end%>
    </tbody>
</table> 